Need to remove authorization claim parameters from /authorize JAR request 

### Feature Story (optional)

FAPI 1.0 - Part 2: Advanced + PAR fails against nightly-core with the following error;

> **Failure summary:**
> FAILURE Verify authorization endpoint response: VerifyNoStateInAuthorizationResponse: state has been returned in authorization endpoint response, when it shouldn't have been
> FAILURE [FAPI1-ADV-5.2.2-10](https://openid.net/specs/openid-financial-api-part-2-1_0-final.html#rfc.section.5.2.2) Verify authorization endpoint response:
> 
> VerifyNoSHash: s_hash has been returned in ID token, when it shouldn't have been
> state has been returned in authorization endpoint response, when it shouldn't have been

The conformance suite is trying to test this statement in the FAPI specifications;

> 5.2.2. Authorization server
> The authorization server shall support the provisions specified in clause 5.2.2 of Financial-grade API Security Profile 1.0 - Part 1: Baseline, with the exception that Section 5.2.2-7 (enforcement of RFC7636) is not required.
> 
> In addition, the authorization server
> 1 ...
> 2... etc
> 10. shall only use the parameters included in the signed request object passed via the request or request_uri parameter;

The following should be noted;
1. The authorization request jwt was passed via the PAR endpoint. It contained no STATE parameter. 
2. The use of a request JWT to provide authorize parameter is covered by [RFC 9101: The OAuth 2.0 Authorization Framework: JWT-Secured Authorization Request (JAR)](https://www.rfc-editor.org/rfc/rfc9101.html). It states in [section 6.3](https://www.rfc-editor.org/rfc/rfc9101.html#section-6.3) that;

> [6.3. ](https://www.rfc-editor.org/rfc/rfc9101.html#section-6.3) [Request Parameter Assembly and Validation](https://www.rfc-editor.org/rfc/rfc9101.html#name-request-parameter-assembly-)
> The authorization server MUST extract the set of authorization request parameters from the Request Object value. The authorization server MUST only use the parameters in the Request Object, even if the same parameter is provided in the query parameter. The client ID values in the client_id request parameter and in the Request Object client_id claim MUST be identical. The authorization server then validates the request, as specified in [OAuth 2.0](https://www.rfc-editor.org/rfc/rfc9101.html#RFC6749) [[RFC6749](https://www.rfc-editor.org/rfc/rfc9101.html#RFC6749]).
> 
> If the Client ID check or the request validation fails, then the authorization server MUST return an error to the client in response to the authorization request, as specified in [Section 5.2](https://www.rfc-editor.org/rfc/rfc6749#section-5.2) of [[RFC6749](https://www.rfc-editor.org/rfc/rfc9101.html#RFC6749]) (OAuth 2.0).

Note that it is stated that "The authorization server MUST only use the parameters in the Request Object". AM is not doing that as the STATE parameter being passed as a request parameter is being returned in the authorize redirect response;

e.g.

```
{
   "code": "UHq_Ng5eklJI78QUjeMtEnBmg6g",
   "id_token": "eyJ0eXAiOiJKV1......EQsHIr-82A",
   "state": "dcSNZlpE3Y"
}
```

An issue has been raised against AM, but for now we can do this filtering in SAPIG so that we can achieve FAPI Compliance

### Is your feature request related to a problem? Please describe.

See description above

### Describe the solution you'd like.

SAPIG should remove the non-necessary request parameters from the HTTP x-www-form urlencoded parameters so that we can pass the conformance suite. 

### Describe alternatives you've considered

No alternatives

### Additional context (optional)

_No response_