The PAR endpoint should be accepted as an audience value in a client assertion JWT

### Feature Story (optional)

As an ApiClient I want to be able to use the PAR endpoint as an issuer in my client assertion JWT as described in [RFC9126, section 2, para 5](https://www.rfc-editor.org/rfc/rfc9126.html#section-2).

### Is your feature request related to a problem? Please describe.

The PAR specification states that;

> Due to historical reasons, there is potential ambiguity regarding the appropriate audience value to use when employing JWT client assertion-based authentication (defined in [Section 2.2](https://www.rfc-editor.org/rfc/rfc7523#section-2.2) of [[RFC7523](https://www.rfc-editor.org/rfc/rfc9126.html#RFC7523)] with private_key_jwt or client_secret_jwt authentication method names per Section 9 of [[OIDC](https://www.rfc-editor.org/rfc/rfc9126.html#OIDC)]). To address that ambiguity, the issuer identifier URL of the authorization server according to [[RFC8414](https://www.rfc-editor.org/rfc/rfc9126.html#RFC8414)] SHOULD be used as the value of the audience. In order to facilitate interoperability, the authorization server MUST accept its issuer identifier, token endpoint URL, or pushed authorization request endpoint URL as values that identify it as an intended audience.

Currently AM is not configured to accept the par endpoint as an audience value.

### Describe the solution you'd like.

I would like AM to accept the par endpoint as an audience value in client assertion JWTs

### Describe alternatives you've considered

None

### Additional context (optional)

_No response_

Tested using the FAPI conformance suite